<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700;900&display=swap" rel="stylesheet">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>

      <nav class="nav-bar">

         <a href="/">Homepage</a>

         {{#if theUserObject}}
         <a href="/user/signup" style="display:none">Sign up</a>
         {{else}}
         <a href="/user/signup">Sign up</a>
         {{/if}}


         {{#if theUserObject}}
         <form action="/user/logout" method="POST" class="logout-container">
            <button>Log out</button>
         </form>
         {{else}}
          <a href="/user/login">Log in</a>
         {{/if}}

         {{#if theUserObject}}
         <a href="/user/userprofile">Profile</a>
         {{/if}}

         {{#if theUserObject}}
         <h2>よこそ、{{theUserObject.username}}</h2>
         {{/if}}

  {{#if theUserObject}}
         <a href="/flashCards/all">My FlashCards</a>
         {{/if}}
           {{#if theUserObject}}
          <a href="/flashCards/create-flashCard">Create a FlashCard</a>
         {{/if}}
        


      </nav>

      {{#if errorMessage}}
      <div style="background-color:red">
         {{errorMessage}}
      </div>
      {{/if}}

      {{#if successMessage}}
      <div style="background-color:green">
         {{successMessage}}
      </div>
      {{/if}}

      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>