<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700;900&display=swap" rel="stylesheet">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>
<header class="header">

   <div class="icon-welcome-container">

   <img src="/images/icons-kanji.png" alt="Kanji icon">

   {{#if theUserObject}}
         <h2>よこそ、{{theUserObject.username}}</h2>
         {{/if}}

   </div>

         <nav class="main-nav">

         <ul class="main-nav-list">

            <li><a class="main-nav-link" href="/">Homepage</a></li>
            <li>
               {{#if theUserObject}}
         <a class="main-nav-link"  href="/flashCards/all">My FlashCards</a>
         {{/if}}
            </li>

            <li>
               {{#if theUserObject}}
          <a class="main-nav-link"  href="/flashCards/create-flashCard">Create a FlashCard</a>
         {{/if}}

            </li>

         <li>
         {{#if theUserObject}}
         <a class="main-nav-link"  href="/user/signup" style="display:none">Sign up</a>
         {{else}}
         <a class="main-nav-link"  href="/user/signup">Sign up</a>
         {{/if}}
           </li>

           <li>
            {{#if theUserObject}}
         <form action="/user/logout" method="POST" class="logout-container">
            <button>Log out</button>
         </form>
         {{else}}
          <a class="main-nav-link"  href="/user/login">Log in</a>
         {{/if}}

           </li>
         </ul>

         </nav>

         <button class="btn-mobile-nav">
  <img class="icon-mobile-nav open-menu" src="/images/icons8-menu-64.png" alt="Menu icon">
  <img class="icon-mobile-nav close-menu" src="/images/icons8-close-60.png" alt="Menu close icon">
</button>

      </header>

     

      {{#if errorMessage}}
      <div class="error message-box">
         {{errorMessage}}
      </div>
      {{/if}}

      {{#if successMessage}}
      <div class="success message-box">
         {{successMessage}}
      </div>
      {{/if}}

      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

   

</html>