<section class="margin-top-body">

<div class="all-myFlashCard-container">
<h1>My Flashcards</h1>


<div class="flashCards-box ">
{{#each createdByUserFlashCards}}
<div class="eachFlashCard-box">
<h2><a class="eachFlashCard-link" href="/flashCards/details/{{this._id}}">{{this.kanji}}</a></h2>
<h3>{{this.meaning}}</h3>
</div>
{{/each}}

</div>

<div class="flashCards-box border">
{{#each kanjiFromApi}}
<div class="kanji-api-background eachFlashCard-box">
<h2><a class="eachFlashCard-link" href="/{{this.kanji}}/details">{{this.kanji}}</a></h2>
<h3>{{this.meaning}}</h3>
</div>
{{/each}}

</div>

</div>

</section>