<section class="kanji-details-bigContainer">

  <div class="kanji-container1">

    <div class="kanji-box-grid">

<div class="kanji-box1">
        <h1>{{theFlashCard.kanji}}</h1>
        <span>
          <h3>Meaning</h3>
<p class="smaller-text">{{theFlashCard.meaning}}</p>
</span>
</div>

<div class="kanji-box1-part2">
<span><h3>Onyomi</h3>
<p class="smaller-text">{{theFlashCard.onyomi}}</p></span>

<span class="smaller-text"><h3>Kunyomi</h3>
<p class="smaller-text">{{theFlashCard.kunyomi}}</p></span>

<span>
  <h3>Strokes</h3>
<p class="smaller-text">{{theFlashCard.strokes}}</p>
</span>

<span>
<h3>Grade</h3>
<p class="smaller-text">{{theFlashCard.grade}}</p>
</span>

<h3><a class="flashCard-details-link" href="{{theFlashCard.link}}" target="_blank">More information</a></h3>
</div>

</div>

<div class="kanji-box2">
<img src="{{theFlashCard.strokeOrder}}" alt="Kanji stroke order image">
</div>

<div class="btn-container">
<button class="btn"><a href="/flashCards/edit/{{theFlashCard._id}}">Update this FlashCard</a></button>


<form action="/flashCards/delete/{{theFlashCard._id}}" method="POST">
<button class="btn">Delete This FlashCard</button>
</form>

<div>
  <button class="btn"><a href="/note/create-note/{{theFlashCard._id}}/{{theFlashCard.kanji}}">Create Note</a></button>
</div>

{{#if theFlashCard.notes.length}}
<div>
  <button class="btn"><a href="/note/see-notes/{{theFlashCard._id}}">Check Notes for this FlashCard</a></button>
  </div>

  </div>
  {{/if}}



    </div>

    <div class="kanji-box3 flashcard-example-box">

      <h3>Examples</h3>
<ul>
  {{#each theFlashCard.examples}}
  <li>
    <p>{{this.text}}</p>

    {{#if this.audio}}
    <audio controls>
      <source src="{{this.audio}}" type="audio/mp3">
    </audio>
    {{/if}}
  </li>
  {{/each}}
</ul>

    </div>



</section>


{{!-- <div class="kanji-details-container">
  <h1>{{theFlashCard.kanji}}</h1>

  <div class="kanji-box">
    <span><h3>Meaning</h3>
<p>{{theFlashCard.meaning}}</p></span>

<span><h3>Onyomi</h3>
<p>{{theFlashCard.onyomi}}</p></span>

<span><h3>Kunyomi</h3>
<p>{{theFlashCard.kunyomi}}</p></span>
  </div>

<div class="kanji-box2">
  <h3>Strokes</h3>
<p>{{theFlashCard.strokes}}</p>



<h3>Grade</h3>
<p>{{theFlashCard.grade}}</p>
</div>

<div class="kanji-box3">
<h3>Examples</h3>
<ul>
  {{#each theFlashCard.examples}}
  <li>
    <p>{{this.text}}</p>

    {{#if this.audio}}
    <audio controls>
      <source src="{{this.audio}}" type="audio/mp3">
    </audio>
    {{/if}}
  </li>
  {{/each}}
</ul>

</div>


<h3><a class="flashCard-details-link" href="{{theFlashCard.link}}" target="_blank">More information</a></h3>

<div class="kanji-box4">
<h3>Strokes order</h3>

<img src="{{theFlashCard.strokeOrder}}" alt="Kanji stroke order image">

</div>

<div class="kanji-box5">

<a class="flashCard-update-link" href="/flashCards/edit/{{theFlashCard._id}}">Update this FlashCard</a>


<form action="/flashCards/delete/{{theFlashCard._id}}" method="POST">
<button id="flashCard-delete-btn">Delete This FlashCard</button>
</form>
</div>

<div>
  <button><a href="/note/create-note/{{theFlashCard._id}}/{{theFlashCard.kanji}}">Add Note</a></button>
</div>

{{#if theFlashCard.notes.length}}
<div>
  <button><a href="/note/see-notes/{{theFlashCard._id}}">Check Notes for this FlashCard</a></button>
  </div>
  {{/if}}

</div> --}}
