<section class="margin-top-body">

<h1>Update your FlashCard</h1>


<form class="update-form-container" action="/flashCards/update/{{theCard._id}}" method="POST" enctype="multipart/form-data">
<div class="update-inpute-box">
<label>Kanji</label>
<input type="text" name="theKanji" id="" value="{{theCard.kanji}}">
</div>



<div class="update-inpute-box">
<label> Meaning in English</label>
<input type="text" name="theMeaning" id="" value="{{theCard.meaning}}">
</div>



<div  class="update-inpute-box">
<label> Onyomi reading</label>
<input type="text" name="theOnyomi" id="" value="{{theCard.onyomi}}">
</div>



<div  class="update-inpute-box">
<label> Kunyomi reading</label>
<input type="text" name="theKunyomi" id="" value="{{theCard.kunyomi}}">
</div>



<div  class="update-inpute-box">
<label> Number of strokes</label>
<input type="number" name="theStrokes" id="" value="{{theCard.strokes}}">
</div>



<div  class="update-inpute-box">
<label> Grade</label>
<input type="text" name="theGrade"  value="{{theCard.grade}}">
</div>



<div  class="update-inpute-box">
<label> Link to resources </label>
<input type="text" name="theLink" id="" value="{{theCard.link}}">
</div>


<a href="#" class="uploadImglink" id="uploadNewImg">Click Here to Upload a New Image</a>
<div id="imgInput"  class="stoke-order-file-container">
<label> Stroke Order Image</label>
<input type="file" name="theStrokeOrder" class="file-upload-img">
</div>



<button class="btn btn-update" type="submit">Save changes</button>



</form>


<script src="/js/editImg.js"></script>

</section>