<section class="margin-top-body">
  
<div class="kanji-details-bigContainer">

  <div class="kanji-container1">

<div class="kanji-box-grid">

  

<div class="kanji-box1">

<h1>{{resultDetails.kanji.character}}</h1>

<span><h3>Meaning</h3>
<p class="smaller-text">{{resultDetails.kanji.meaning.english}}</p></span>

  </div>



<div class="kanji-box1-part2">
  

<span><h3>Onyomi</h3>
<p class="smaller-text">{{resultDetails.kanji.onyomi.katakana}}</p></span>

<span><h3>Kunyomi</h3>
<p class="smaller-text">{{resultDetails.kanji.kunyomi.hiragana}}</p></span>

  <span>
<h3>Strokes</h3>
<p class="smaller-text">{{resultDetails.kanji.strokes.count}}</p>
</span>

<span>
<h3>Grade</h3>
<p class="smaller-text">{{resultDetails.references.grade}}</p>
</span>

<h3><a class="flashCard-details-link" href="{{resultDetails.luminous}}" target="_blank">More information</a></h3>
</div>


</div>




<div  class="kanji-box2">

{{!-- <h3>Strokes order</h3> --}}
<div class="stroke-order-box">
{{#each resultDetails.kanji.strokes.images}}
<img src="{{this}}" alt="" width="100px">
{{/each}}
</div>

</div>

<div class="btn-container">

{{#if theUserObject}}

{{#if theFlashC}}

<div>
  <button class="btn add-note"><a href="/note/create-note/{{theFlashC._id}}/{{resultDetails.kanji.character}}">Create note</a></button>
</div>

<div>
  <button class="btn see-note"><a href="/note/see-notes/{{theFlashC._id}}">Check notes</a></button>
  </div>

{{/if}}

{{#unless theFlashC}}
<form class="btn-container" action="/flashCards/add-kanji" method="POST">
<input type="text" name="kanji" value="{{resultDetails.kanji.character}}" hidden>
<input type="text" name="meaning" value="{{resultDetails.kanji.meaning.english}}" hidden>
<input type="text" name="onyomi" value="{{resultDetails.kanji.onyomi.katakana}}" hidden>
<input type="text" name="kunyomi" value="{{resultDetails.kanji.kunyomi.hiragana}}" hidden>
<input type="number" name="strokes" value="{{resultDetails.kanji.strokes.count}}" hidden>
<input type="text" name="grade" value="{{resultDetails.references.grade}}" hidden>
<input type="text" name="link" value="{{resultDetails.luminous}}" hidden>
<input type="text" name="userID" value="{{theUserObject._id}}" hidden>

<button class="btn">Add this Kanji to my Flashcards</button>

  </form>
  {{/unless}}
{{/if}}

{{#if theFlashC}}
    <form action="/flashCards/delete/{{theFlashC._id}}" method="POST">
      <button class="btn">Delete This FlashCard</button>
    </form> 
  {{/if}}
  
</div>

</div>


<div class="kanji-box3">
<h3>Examples</h3>
  <ul>

    {{#each examples}}
    <li class="audio-li">
      <span>
    <p class="audio-text">Japanese: {{this.japanese}}</p>
    <p class="audio-text">English: {{this.meaning.english}}</p>
    </span>
    <audio class="kanji-details-audio" controls>
      <source src="{{this.audio.mp3}}" type="audio/mp3"> 
    </audio>
    </li>
    {{/each}}

  </ul>

</div>

</div>

</section>



