<h1>{{resultDetails.kanji.character}}</h1>

<h3>Meaning</h3>
<p>{{resultDetails.kanji.meaning.english}}</p>

<h3>Onyomi</h3>
<p>{{resultDetails.kanji.onyomi.katakana}}</p>

<h3>Kunyomi</h3>
<p>{{resultDetails.kanji.kunyomi.hiragana}}</p>

<h3>Strokes</h3>
<p>{{resultDetails.kanji.strokes.count}}</p>

<h3>Grade</h3>
<p>{{resultDetails.references.grade}}</p>

<h3>Hint</h3>
<p>{{resultDetails.hint_group}}</p>

<h3>Examples</h3>
<p>{{resultDetails.kanji.meaning.english}}</p>


<h3><a href="{{resultDetails.luminous}}" target="_blank">More information</a></h3>

<h3>Strokes order</h3>
{{#each resultDetails.kanji.strokes.images}}
<img src="{{this}}" alt="" width="100px">
{{/each}}
