<div class="kanji-details-container">
<h1>{{resultDetails.kanji.character}}</h1>

<div class="kanji-box">
  <span><h3>Meaning</h3>
<p>{{resultDetails.kanji.meaning.english}}</p></span>

<span><h3>Onyomi</h3>
<p>{{resultDetails.kanji.onyomi.katakana}}</p></span>

<span><h3>Kunyomi</h3>
<p>{{resultDetails.kanji.kunyomi.hiragana}}</p></span>


</div>

<div class="kanji-box2">
<h3>Strokes</h3>
<p>{{resultDetails.kanji.strokes.count}}</p>

<h3>Grade</h3>
<p>{{resultDetails.references.grade}}</p>
</div>

<div class="kanji-box3">
<h3>Examples</h3>
<div>

  <ul>

    {{#each examples}}
    <li>
    <p>Japanses: {{this.japanese}}</p>
    <p>English: {{this.meaning.english}}</p>
    <audio class="kanji-details-audio" controls>
      <source src="{{this.audio.mp3}}" type="audio/mp3"> 
    </audio>
    </li>
    {{/each}}

  </ul>

</div>


<h3><a class="flashCard-details-link" href="{{resultDetails.luminous}}" target="_blank">More information</a></h3>

<div  class="kanji-box4">

<h3>Strokes order</h3>
<div>
{{#each resultDetails.kanji.strokes.images}}
<img src="{{this}}" alt="" width="100px">
{{/each}}
</div>

</div>

{{#if theUserObject}}
<form action="/flashCards/add-kanji" method="POST">
<input type="text" name="kanji" value="{{resultDetails.kanji.character}}" hidden>
<input type="text" name="meaning" value="{{resultDetails.kanji.meaning.english}}" hidden>
<input type="text" name="onyomi" value="{{resultDetails.kanji.onyomi.katakana}}" hidden>
<input type="text" name="kunyomi" value="{{resultDetails.kanji.kunyomi.hiragana}}" hidden>
<input type="number" name="strokes" value="{{resultDetails.kanji.strokes.count}}" hidden>
<input type="text" name="grade" value="{{resultDetails.references.grade}}" hidden>
<input type="text" name="link" value="{{resultDetails.luminous}}" hidden>
<input type="text" name="userID" value="{{theUserObject._id}}" hidden>


<button>Add This Kanji to My FlashCards</button>

<div>
  <button><a href="/note/create-note/{{resultDetails._id}}/{{resultDetails.kanji.character}}">Add Note</a></button>
</div>

<div>
  <button><a href="/note/see-notes/{{resultDetails._id}}">Check Notes for this FlashCard</a></button>
  </div>

</form>
{{/if}}

</div>
